{% extends "header.html" %}
{% block body %}
<div class="container-fluid" style="min-height: 100%">
  <div class="row">
    <div class="col-md-12">
      <!-- <ul class="nav nav-tabs ">
        <li role="presentation" class="active"><a href="/">Movies</a></li>
        <li role="presentation"><a href="/albums">Music Albums</a></li>
        <li role="presentation"><a href="/geographical">Geographical</a></li>
      </ul> -->
      <div class="row">
        <div class="col-md-8">
          <div class="container" style="width:100%">
            <br>
            <div id="fulltable_wrapper" class="dataTables_wrapper no-footer">
              <table id="main_table" class="display" cellspacing="0" width="100%" table-striped>
                <thead>
                  <tr>
                    <th>Movie name</th>
                    <th>All volume of mentions</th>
                    <th>Overall Sentiment</th>
                    <th>Predicted Sales</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Movie name</th>
                    <th>All volume of mentions</th>
                    <th>Overall Sentiment</th>
                    <th>Predicted Sales</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for i in data[0]%}
                    <tr id={{i[0]}}>
                      <td>{{i[0]}}</td>
                      <td>{{i[1]}}</td>
                      <td>{{i[1]}}</td>
                      <td>{{i[1]}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row-md-2">
            <div id='sentiment_chart'></div>
          </div>
          <div class="row-md-2">
            <div id='sale_chart'></div>
          </div>
          <div class="row-md-2">
          </div>
        </div>  
      </div>  
    </div>
      <div class="row">
        <div class="col-lg-3">

        </div>

      </div>
  </div>
  
  <div class="container">
    <div id="chart"></div>
  </div>
</div>
  {% endblock %}