#document
<!DOCTYPE html>
<html>
<head>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	  <link href={{ url_for('static', filename='d3.css') }} rel="stylesheet" media="screen">
	  <script src={{ url_for('static', filename='nvtooltip.js') }}></script>
	  <script src={{ url_for('static', filename='d3legend.js') }}></script>
	  <script src={{ url_for('static', filename='d3line.js') }}></script>
	  <script src={{ url_for('static', filename='d3linewithlegend.js') }}></script>
	  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
	  <script src={{ url_for('static', filename='d3interactive.js') }}></script>

</head>
<body marginwidth="0" marginheight="0">
	<div id="sentiment_chart"></div>
</body>
</html>